body {
     background-color: rgbbackground #020024;
     background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(50, 50, 227, 1) 10%, rgba(0, 212, 255, 1) 31%);
     ;
     margin: 0;
}

#menu {
     background-color: rgbbackground #020024;
     background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(50, 50, 227, 1) 10%, rgba(0, 212, 255, 1) 31%);
     width: 300px;
     height: 1300px;
     text-align: center;
     box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.5);
     margin-top: -35px;
}

.logo {
     width: 150px;
     border: 6px double rgb(255, 255, 255);
     border-radius: 50%;
      box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.5);
     margin-top: 50px;
}

h1 {
     font-size: 120%;
     color: rgb(250, 0, 0);
     font-family: 'Playwrite', sans-serif;
     text-shadow: 6px 6px 6px  rgba(0, 0, 0, 0.5);
}

h2 {
     font-size: 120%;
     color: rgb(5, 0, 3);
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     text-shadow: 6px 6px 6px  rgba(0, 0, 0, 0.5);
}

.links1 {
     text-decoration: none;
     color: #fff;
     font-weight: bold;
     font-size: 1.5rem;
     font-family: sans-serif;
     display: flex;
     flex-direction: column;
     padding: 1rem 0;
     text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.7);
     transition: 0.5s ease;
}

.links1:hover {
     background-color: blue;
     color: black;
}

header {
     float: left;
}

#conteudo {
     display: flex;
     flex-wrap: wrap;
     justify-content: center;

}

.info01 {
     background-color: rgb(119, 0, 255);
     margin: 1rem 1rem 0.5rem 24rem;
     padding: 0.5rem;
     border-radius: 1rem;
     box-shadow: 6px 6px 6px rgba(245, 245, 244, 0.7);
}

.info02 {
     background-color: purple;
     margin: 1rem 1rem 1rem 1rem;
     padding: 0.5rem;
     border-radius: 1rem;
     width: 300px;
     height: 200px;
     color: #fff;
     box-shadow: 6px 6px 6px rgba(245, 245, 244, 0.7);

}

.info03 {
     background-color: purple;
     margin: 1rem 1rem 0.5rem 1rem;
     padding: 0.5rem;
     border-radius: 1rem;
     width: 300px;
     height: 200px;
     color: #fff;
     box-shadow: 6px 6px 6px rgba(245, 245, 244, 0.7);
}

.info04 {
     background-color: purple;
     margin: 1rem 1rem 0.5rem 1rem;
     padding: 0.5rem;
     border-radius: 1rem;
     width: 300px;
     height: 200px;
     color: #fff;
     box-shadow: 6px 6px 6px rgba(245, 245, 244, 0.7);
}

.info05 {
     background-color: purple;
     margin: 1rem 1rem 0.5rem 1rem;
     padding: 0.5rem;
     border-radius: 1rem;
     width: 300px;
     height: 200px;
     color: #fff;
     box-shadow: 6px 6px 6px rgba(245, 245, 244, 0.7);
}

.info06 {
     background-color: purple;
     margin: 1rem 1rem 0.5rem 1rem;
     padding: 0.5rem;
     border-radius: 1rem;
     width: 300px;
     height: 200px;
     color: #fff;
     box-shadow: 6px 6px 6px rgba(245, 245, 244, 0.7);
}

.info07 {
     background-color: purple;
     margin: 1rem 1rem 0.5rem 1rem;
     padding: 0.5rem;
     border-radius: 1rem;
     width: 300px;
     height: 200px;
     color: #fff;
     box-shadow: 6px 6px 6px rgba(245, 245, 244, 0.7);
}

.info08 {
     background-color: purple;
     margin: 1rem 1rem 0.5rem 1rem;
     padding: 0.5rem;
     border-radius: 1rem;
     width: 300px;
     height: 200px;
     color: #fff;
     box-shadow: 6px 6px 6px rgba(245, 245, 244, 0.7);
}

footer {
     background-color: rgb(20, 40, 220);
     color: aquamarine;
     font-size: 1.7rem;
     font-family: sans-serif;
     font-weight: bold;
     text-align: center;
     clear: both;
     padding: 0.5rem;
}